# Data Cleaning - For Ecommerce Chatbot -  Women Fashion Dataset

**Details**

- In this dataset out of 47 columns 14 were selected for creating chatbot. Selection of features are based on wrong data, complete null columns, high number NaN values in a particular column, non-relevant for chatbot

**Selected Features**

| *Feature*           | *Null values*     | *Cleaning methodology*                                                        |
| :------------------ | :---------------: | :---------------------------------------------------------------------------- |
| id                  | 0                 | Not Required                                                                  |
| brand               | 633               | First value in name column is considered as brand                             |
| categories          | 0                 | Not Required                                                                  |
| colors              | 7156              | Fetched data from W3 school. Checked in 'name' if color replace it else "No"  |
| descriptions        | 8265              | Dataset with no descriptions are filled with name+colors+brands+sizes columns |
| name                | 0                 | Not Required                                                                  |
| prices.amountMin    | 1                 | Row removed                                                                   |
| prices.amountMax    | 0                 | Not Required                                                                  |
| prices.currency     | 9                 | Row removed                                                                   |
| prices.isSale       | 6                 | Row removed                                                                   |
| prices.returnPolicy | 18293             | Filled with "No return policy"                                                |
| prices.shipping     | 14482             | Filled with "USD 0"                                                           |
| reviews             | 18031             | Filled with "No review yet"                                                   |
| sizes               | 10776             | Filled with "size in name and descriptions" redirected to name and descr cols.|

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math
import dtale
import re
import urllib.request
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv("C:\\Users\\HP\\ML Models\\Data Practice\\women_shoes.csv", low_memory=False)

In [3]:
df.head()

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,prices.sourceURLs,prices.warranty,quantities,reviews,sizes,skus,sourceURLs,upc,websiteIDs,weight
0,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
1,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
2,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
3,AVpfBXx21cnluZ0-cKxs,NaN,Zoot,"Shoes,Clothing,Women's Shoes,All Women's Shoes","Blue,Multicolor",NaN,2016-11-11T09:49:00Z,2016-11-11T09:49:00Z,"[{""dateSeen"":[""2016-11-11T09:49:00Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN,"10,9",NaN,https://www.walmart.com/ip/Zoot-TT-TRAINER-2.0...,NaN,NaN,NaN
4,AVpfEqFRLJeJML431x7w,NaN,Wild Pair,"Shoes,Women's Shoes,Clothing,All Women's Shoes",Brown,NaN,2016-11-16T12:56:36Z,2016-11-16T12:56:36Z,"[{""dateSeen"":[""2016-11-16T12:56:36Z""],""sourceU...",NaN,...,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,NaN,NaN,NaN,"8.5,7,7.5,8",NaN,https://www.walmart.com/ip/Wild-Pair-Colfax-Wo...,7.63181E+11,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19045 entries, 0 to 19044
Data columns (total 47 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   19045 non-null  object
 1   asins                2208 non-null   object
 2   brand                18412 non-null  object
 3   categories           19045 non-null  object
 4   colors               11889 non-null  object
 5   count                0 non-null      float64
 6   dateAdded            19045 non-null  object
 7   dateUpdated          19045 non-null  object
 8   descriptions         10780 non-null  object
 9   dimension            2418 non-null   object
 10  ean                  9816 non-null   float64
 11  features             14108 non-null  object
 12  flavors              0 non-null      float64
 13  imageURLs            17840 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 19045 non-null  object
 16  manufacturer         8656 non-null   object
 17  manufacturerNumber   15903 non-null  object
 18  merchants            13688 non-null  object
 19  name                 19045 non-null  object
 20  prices.amountMin     19044 non-null  object
 21  prices.amountMax     19045 non-null  object
 22  prices.availability  135 non-null    object
 23  prices.color         547 non-null    object
 24  prices.condition     12228 non-null  object
 25  prices.count         7 non-null      object
 26  prices.currency      19036 non-null  object
 27  prices.dateAdded     19041 non-null  object
 28  prices.dateSeen      19041 non-null  object
 29  prices.flavor        6 non-null      object
 30  prices.isSale        19039 non-null  object
 31  prices.merchant      14294 non-null  object
 32  prices.offer         6853 non-null   object
 33  prices.returnPolicy  752 non-null    object
 34  prices.shipping      4563 non-null   object
 35  prices.size          508 non-null    object
 36  prices.source        4 non-null      object
 37  prices.sourceURLs    19034 non-null  object
 38  prices.warranty      20 non-null     object
 39  quantities           2 non-null      object
 40  reviews              1014 non-null   object
 41  sizes                8269 non-null   object
 42  skus                 7084 non-null   object
 43  sourceURLs           19034 non-null  object
 44  upc                  10671 non-null  object
 45  websiteIDs           1 non-null      float64
 46  weight               830 non-null    object
dtypes: float64(5), object(42)
memory usage: 6.8+ MB

In [5]:
delKeys = ['asins', 'count', 'dateAdded', 'dateUpdated', 'dimension', 'ean', 'flavors', 'imageURLs', 'isbn', 'keys', 'manufacturer',
           'manufacturerNumber', 'merchants', 'prices.availability', 'prices.color', 'prices.condition', 'prices.count', 
           'prices.dateAdded', 'prices.dateSeen', 'prices.flavor', 'prices.merchant', 'prices.size', 'prices.source', 'prices.sourceURLs', 
           'prices.warranty', 'quantities', 'skus', 'sourceURLs', 'upc', 'websiteIDs', 'features', "prices.offer", "weight"]
data = df.drop(delKeys, axis=1)

In [6]:
data.isnull().sum()

id                         0
brand                    633
categories                 0
colors                  7156
descriptions            8265
name                       0
prices.amountMin           1
prices.amountMax           0
prices.currency            9
prices.isSale              6
prices.returnPolicy    18293
prices.shipping        14482
reviews                18031
sizes                  10776
dtype: int64

**Working for Category**

In this dataset, the category is not properly filtered. In clothing, shoes are also defined in same category to improve the chatbot working and category compilation work is done. 

At the end of this section you can see only 3 categories that is
1. Footwear
2. Clothing
3. Additional Wearables

In [7]:
categories = pd.DataFrame(data['categories'].value_counts())
categories

                                                    categories
Shoes,Women's Shoes,Clothing,All Women's Shoes            2887
Clothing,Shoes,Women's Shoes,All Women's Shoes            2313
Shoes,Clothing,Women's Shoes,All Women's Shoes            2064
Athletic,Women,Shoes,Shoes & Handbags                      363
Women,Shoes,Boots                                          223
...                                                        ...
Clothing,Clothing, Shoes & Jewelry,Women,Coats,...           1
Clothing, Shoes & Accessories,Women's Clothing,...           1
Women,Jumpsuits, Rompers & Overalls,Clothing, S...           1
Clothing, Shoes & Accessories,Women's Accessori...           1
Watches,Clothing, Shoes & Jewelry,Women,Wrist W...           1

[1064 rows x 1 columns]

In [8]:
newCategories = ['Boot', 'Bootie', 'Heel', 'Sandals', 'Flats', 'Slippers', 'Sneakers', 'Insoles', 'Shoe', 'Shoes', 'Clogs', 
                 'Toe', 'Loafer', 'Boots', 'Booties', 'Heels', 'Sandal', 'Flat', 'Slipper', 'Sneaker', 'Insole', 'Clog', 
                 'Toes', 'Loafers', 'Pump', 'Flip', 'Flops', 'Orthaheels', 'Orthaheel', 'Pumps', 'Dwags', 'winterboots', 
                 'winterboot', 'Sock', 'Sole', 'rainboot']
newCategories = [cat.lower() for cat in newCategories]

newWearables = ['shades', 'earring', 'sunglasses', 'bags', 'bag', 'Jewelry', 'Trimmer', 'Cap', 'Clip', 'Comb', 'Rings', 
                'Ring', 'bag', 'handbag', 'handbags', 'Band', '' ]
newCategories = [cat.lower() for cat in newCategories]

def remove_special_characters(s):
    return re.sub(r'[^a-zA-Z0-9]', ' ', s)

def check_category(name, newLabel):
    rename = remove_special_characters(name)
    for word in rename.split():
        # Check if the lowercase version of the word is in newLabel
        if word.lower() in newLabel:
            return True
    return False

In [9]:
data.loc[data['name'].apply(lambda x: check_category(x, newCategories)), 'categories'] = 'Footwear'
data.loc[data['name'].apply(lambda x: check_category(x, newWearables)), 'categories'] = 'Additional Accessories'
data.loc[(data['categories'] != "Footwear") & (data['categories'] != "Additional Accessories"), 'categories'] = "Clothing"

In [10]:
categories = pd.DataFrame(data['categories'].value_counts())

In [11]:
categories

                        categories
Footwear                     12484
Clothing                      5951
Additional Accessories         610

**working for colors column**

The function is design for fetching colors from W3 school and is compared with the string. If color appears in the string then column is filled else filled with string "No Color information"

In [12]:
def getColors():
    html = urllib.request.urlopen('http://www.w3schools.com/colors/colors_names.asp').read()
    soup = BeautifulSoup(html, 'html.parser')
    children = [item.findChildren() for item in soup.find_all('span')]
    color_values = [a_tag.text.lower() for sublist in children for a_tag in sublist if a_tag.name == "a" and "color=" in a_tag["href"]]
    return color_values

colorList = getColors()

In [13]:
def identify_color(row):
    # If color is not NaN, retain that value
    if not pd.isna(row['colors']):
        return row['colors']

    for color in colorList:
        if color.lower() in row['name'].lower():
            return color
    return None

data['colors'] = data.apply(identify_color, axis=1)

In [14]:
data['colors'].fillna("No Color Information", inplace=True)

In [15]:
data.isnull().sum()

id                         0
brand                    633
categories                 0
colors                     0
descriptions            8265
name                       0
prices.amountMin           1
prices.amountMax           0
prices.currency            9
prices.isSale              6
prices.returnPolicy    18293
prices.shipping        14482
reviews                18031
sizes                  10776
dtype: int64

**working for brand column**

Nan values are replaced by the first words of name string. Repeated pattern observe that the first word till the initial speed is mostly the brand name.

In [16]:
def brand_name(row):
    if not pd.isna(row['brand']):
        return row['brand']
    else:
        return row['name'].split(" ")[0]

In [17]:
data['brand'] = data.apply(brand_name, axis=1)

In [18]:
data.isnull().sum()

id                         0
brand                      0
categories                 0
colors                     0
descriptions            8265
name                       0
prices.amountMin           1
prices.amountMax           0
prices.currency            9
prices.isSale              6
prices.returnPolicy    18293
prices.shipping        14482
reviews                18031
sizes                  10776
dtype: int64

**working for sizes column**

Filled with string "size in name description". Size related prompts will redirect the towards the name quering in vector DBs.

In [19]:
data['sizes'].fillna("size in name and description", inplace=True)

**working for description column**

Nan values are replaced by the following format as per observed pattern.
- [{"dateSeen":["2016-11-11T09:49:00Z"],"sourceURLs":["No Link"],"value":"Name+brand+colors+sizes"}]

In [20]:
def filled_descr(row):
    if not pd.isna(row['descriptions']):
        return row['descriptions']
    else:
        descr = row['name'] + ' ' + row['brand'] + ' ' + row['colors'] + ' ' + row['sizes']
        return [{"dateSeen":["2016-11-11T09:49:00Z"],"sourceURLs":["No Link"],"value":descr}]

In [21]:
data['descriptions'] = data.apply(filled_descr, axis=1)

In [22]:
data.isnull().sum()

id                         0
brand                      0
categories                 0
colors                     0
descriptions               0
name                       0
prices.amountMin           1
prices.amountMax           0
prices.currency            9
prices.isSale              6
prices.returnPolicy    18293
prices.shipping        14482
reviews                18031
sizes                      0
dtype: int64

**working for currency, amountMin, isSale column**

All rows are removed due to multiple null values in a row and erroneous (e.g. in currency 'USD' need to mentioned but in these rows 'size' is mentioned, etc) values in row

In [23]:
data = data.dropna(subset=['prices.currency'])
data = data.dropna(subset=['prices.amountMin'])
data = data.dropna(subset=['prices.isSale'])

**working for returnPolicy, shipping, reviews column**

All rows are filled with general comments to save time. However, empirical and IQ methods are available to clean this type of data

In [24]:
data['prices.returnPolicy'].fillna("No return policy", inplace=True)
data['prices.shipping'].fillna("USD 0", inplace=True)
data['reviews'].fillna("No reviews yet", inplace=True)

In [25]:
data.isnull().sum()

id                     0
brand                  0
categories             0
colors                 0
descriptions           0
name                   0
prices.amountMin       0
prices.amountMax       0
prices.currency        0
prices.isSale          0
prices.returnPolicy    0
prices.shipping        0
reviews                0
sizes                  0
dtype: int64

**Erroneous Values**

Data is cleaned from null values but in some columns erroneous values are observed. Cleaning erroneous values

In [26]:
data['prices.currency'].value_counts()

USD    18199
CAD      638
AUD      118
EUR       64
GBP       15
new        1
Name: prices.currency, dtype: int64

In [27]:
data.loc[data['prices.currency'] == "new", 'prices.currency'] = 'USD'

In [28]:
data['prices.isSale'].value_counts()

FALSE                   12679
TRUE                     6355
2017-01-23T00:00:00Z        1
Name: prices.isSale, dtype: int64

In [29]:
data.loc[data['prices.isSale'] == "2017-01-23T00:00:00Z"]

,id,brand,categories,colors,descriptions,name,prices.amountMin,prices.amountMax,prices.currency,prices.isSale,prices.returnPolicy,prices.shipping,reviews,sizes
17551,AVpfjSHWilAPnD_xdzke,Bordello,Footwear,"Red Str Pat,Slv Str Pu","[{""dateSeen"":[""2017-01-24T18:53:02Z""],""sourceU...",Bordello Teeze-3000 - 5 3/4 Heel,"1 3/4"" Hidden Pf Stretch Thigh Boot","Side Zip-slv Str Pu-7""",USD,2017-01-23T00:00:00Z,BESTON SHOES - Walmart.com,USD 0,No reviews yet,size in name and description

In [30]:
data = data[data['prices.isSale'] != "2017-01-23T00:00:00Z"]

In [31]:
data = data.reset_index(drop=True)

**Data Loss**

The number of rows that were dropped

In [32]:
len(df) - len(data)

11

#### Data Cleaned Successfully!

In [33]:
data.to_csv("chatbot_ecommerce_cleaned_data.csv", index=False)